*{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	list-style: none;
}
body{
	background-color: #eee;
}
.box3{
	background-color: #fff;
	border-bottom:1px solid #FF4500 ;
	width: 1180px;
	height:170px;
}
.box31{
	position: relative;
	width: 1;
	height:20px;
}
.box32{
	position: absolute;
	color: #696969;
	width:90px;
	height:20px;  
	margin-left:80px; 
	font-size:11px; 
	line-height:20px; 
	display: inline-block;
}
.line{
	position: absolute;
	display: inline-block;
	width:800px;
	height:20px;
	left:450px;

}
.box33{
	cursor:pointer;
	display: inline-block;
	margin-left:10px;
	width: 20px;
	height:23px;
	background:url('任务所需小图/img/common_min.png')no-repeat;
	background-position:center -30px; 
}
.box34{
	cursor:pointer;
	display: inline-block;
	margin-left:10px;
	width: 20px;
	height:23px;
	background:url('任务所需小图/img/common_min.png')no-repeat;
	background-position:center -52px;
}
.box35{
	cursor:pointer;
	display: inline-block;
	margin-left:10px;
	width: 20px;
	height:23px;
	background:url('任务所需小图/img/common_min.png')no-repeat;
	background-position:center -74px;
}
.box36 {
	margin-left:10px;
	display: inline-block;
	width:auto;
	height:20px; 
}
.box36 li{
	float:left; 
	margin-right:20px;
	font-size:11px; 
	line-height:20px; 
}
.box36 li a:hover{
	color: orange;
}
.box37{
	float:left;
	width: 20px;
	height:23px;
	background:url('任务所需小图/img/common_min.png')no-repeat;
	background-position:center -112px;
}
.box38{
	float:left;
	width: 20px;
	height:23px;
	background:url('任务所需小图/img/dingdan.jpg')no-repeat;
	background-position:center 3px;
}
.box39{
	float:left;
	width: 20px;
	height:18px;
	background:url('任务所需小图/img/tp-my-phone.png')no-repeat;
	background-position:center 1px;
}
.box3a{
	margin-left:-2px; 
	float:left;
	width: 18px;
	height:15px;
	background:url('任务所需小图/img/gouwuche.jpg')no-repeat;
	background-position:center 1px;
}
.box36 span{
	float: left;
	margin-left:-5px; 
	font-size: 13px;
	font-weight: bold;
	color:	#FF7F50; 
}
.mid{
	width: 1180px;
	height:110px;
	position: relative;
}
.box3b{
	display:inline-block; 
	width: 270px;
	height:90px;
	margin-top:10px; 
}
.search_bar{
	height: 30px;
	border: solid 1px;
}
.box3c{
	margin-left: 80px;
	cursor: pointer;
	width: 140px;
	height:90px;
	background:url('任务所需小图/img/logo_03.jpg') no-repeat;
	background-size:contain; 
	background-position:center center; 
}
.box3d{
	display:inline-block; 
	width: 520px;
	height:100px;
}		
.sech{
	position: relative;
	margin-left:20px;
	margin-top:30px;
}
.box3e{
	position: absolute;
	top: 0px;
	border: 2px solid #FF7F50;
	width:400px;
	height:30px;
	font-size:13px;
	outline: none;
	color: 	#696969;
}
.box3f{
	cursor:pointer;
	position: absolute;
	top: 0px;
	left: 400px;
	border: 1px solid #FF4500;
	width:80px;
	height:34px;
	color:  #fff;
	outline: none;
	background-color: #FF4500;
}
.box3k{
	position: absolute;
	width:520px;
	height:20px; 
	margin-top:50px;
	margin-left:10px; 
}
.box3k li{
	color: 	#9370DB;
	font-size:10.5px; 
	float: left;
}
.box3m a{
	color: #FF4500 !important;
}
.box6c a{
	color: #696969 !important;
}
.box3p{
	top:0px;
	position: absolute;
	display:inline-block;
	width: 350px;
	height:100px;
}
.box3r{
	position: absolute;
	display: inline-block;
	font-size:11px; 
	border-radius: 5px;
	border: 1px solid #A9A9A9;
	width:90px;
	height:34px;
	text-align:center;
	top: 50%;
	margin-top: -18px;
	left: 50px;
}
.box3s{
	display:inline-block;
	width: 18px;
	height:18px;
	background:url('任务所需小图/img/common_min.png')no-repeat;
	background-position:center -95px;
}
 .box3r a{
	color:	#A9A9A9; 
	display:block;
	text-align: center;
}
.box3t{
	text-align: center;
	position: absolute;
	display: inline-block;
	font-size:11px; 
	border-radius: 5px;
	border: 1px solid #A9A9A9;
	width:90px;
	height:34px;
	top: 50%;
	margin-top: -18px;
	left: 150px;
}
.box3h{
	display: inline-block;
	width: 18px;
	height:18px;
	background:url('任务所需小图/img/common_min.png')no-repeat;
	background-position:center -112px;
}
.box3t a{
	display: block;
	color:	#A9A9A9; 
	text-align: center;
}
.box3i{
	cursor: pointer;
	position: absolute;
	display: inline-block;
	line-height: 34px;
	border-radius: 5px;
	left: 250px;
	top: 50%;
	margin-top: -18px;
	width:90px;
	height:34px;
	font-size:12px; 
	background-color: #FF4500;
	color: 	#FFFFFF;
}
.box3j{
	margin-top:10px;
	margin-left:5px;
	float:left;
	width: 18px;
	height:18px;
	background:url('任务所需小图/img/wenhao.jpg')no-repeat;
	background-size:15px 15px;  
}
.box7{
	width: 1280px;
	border: 1px solid #000;
	height: 40px;
	margin: 0px auto;
}
.box7 ul{
	width: 100%;
	height: 100%;
	background-color: #000;
	box-sizing: border-box;
}
.box7 ul li{
	float: left;
	line-height: 30px;
	width: 70px;
	text-align: center;
	margin-left: 50px;
	color: #fff;
	cursor: pointer;
	font-size: 15px;
	padding: 5px;
}
.box7 ul li:nth-child(1){
	background-color: #FF0066;
}
.box7 ul li:nth-child(9){
	margin-left: 30px;
	width: 160px;
	height: 30px;
	background: url('任务所需小图/img/ff_03.jpg')no-repeat;
	background-size: cover;
	z-index: 9;
}
.box7 ul li:nth-child(9):hover{
	background-color: rgba(0, 0, 0, 0);
}
.box7 ul li:hover{
	background-color: #FF0066;
}
.box8{
	width: 1180px;
	height: 600px;
	margin: 10px auto;
}
.box81{
	width: 100%;
	height: 100%;
}
.box8 .xleft{
	display: inline-block;
	background-color: #fff;
	width: 85%;
	height: 100%;
	position: relative;
}
.box8 .box8b{
	display: inline-block;
	width: 14%;
	background-color: #fff;
	height: 100%;
	background: url('任务所需小图/img/ww_07.jpg')no-repeat;
	background-size: cover;
}
.box8 .xleft .box82{
	position: relative;
	width: 340px;
	border: 1px solid #000;
	height: 340px;
	margin:10px;
	border: 3px solid #eee;
}
.box8 .xleft .box82 .box83{
	position: absolute;
	left: 0px;
	top: 0px;
	display: inline-block;
	display: none;
	height: 60px;
	width: 60px;
	background-color: rgba(105, 105, 105, 0.5);
}
.box8 .xleft .box84{
	width: 350px;
	height: 50px;
	margin-left: 10px;
}
.box8 .xleft .box84 .box85{
	float: left;
	display: inline-block;
	width: 20px;
	height: 50px;
	margin-right: 10px;
	background: url('任务所需小图/img/spanl.jpg') no-repeat;
	background-size: contain;

}
.box8 .xleft .box84 .box85:hover{
	border: 1px solid orange;
}
.box8 .xleft .box84 ul{
	float: left;
	width: 150px;
	height: 50px;
}
.box8 .xleft .box84 ul li{
	box-sizing: border-box;
	float: left;
	width: 50px;
	height: 50px;
	cursor: pointer;
}
.box8 .xleft .box84 ul li img{
	width: 100%;
	height: 100%;
}
.box8 .xleft .box84 .box87{
	float: right;
	display: inline-block;
	display: inline-block;
	width: 20px;
	height: 50px;
	background: url('任务所需小图/img/spanr.jpg') no-repeat;
	background-size: contain;
}
.box8 .xleft .box84 .box87:hover{
	border: 1px solid orange;
}
.box8 .xleft .xbig{
	width: 346px;
	height: 346px;
	border: 3px solid #eee;
	position: absolute;
	left: 360px;
	top: 10px;
	box-sizing: border-box;
	display: none;
	overflow: hidden;
	z-index: 99;
	background-color: #fff;
}
.box8 .xleft .xbig img{
	width: 300%;
	height: 300%;
	position: absolute;
	left: 0px;
	top: 0px;
}

.box8 .xleft .box88{
	position: absolute;
	left: 400px;
	top: 10px;
	width: 550px;
	height: 90%;
	padding: 10px;
}
.box8 .xleft .box88 .box89{
	font-weight: 600;
	font-size: 21px;
	margin: 10px;
}
.box8 .xleft .box88 .box8a{
	color: #666;
}
.box8 .xleft .box88 .cont{
	width: 90%;
	margin: 10px auto;
}
.box8 .xleft .box88 .cont .price{
	height:50px;
	line-height: 50px;
}
.box8 .xleft .box88 .cont .price span{
	display: inline-block;
	margin-left: 4px;
}
.box8 .xleft .box88 .cont .price span:nth-child(1){
	font-size: 12px;
}
.box8 .xleft .box88 .cont .price span:nth-child(2){
	font-size: 25px;
	margin-left: 40px;
	color:	#FF1493;
}
.box8 .xleft .box88 .cont .price span:nth-child(3){
	font-size: 17px;
	text-decoration: line-through;
	margin-left: 30px;
}
.box8 .xleft .box88 .cont .good{
	height: 100px;
	width: 80%;
	background: url('任务所需小图/img/ss_09.jpg')no-repeat;
}
.box8 .xleft .box88 .cont .num{
	width: 100%;
	height: 30px;
	line-height: 30px;
}
.box8 .xleft .box88 .cont .num span:nth-child(1){
	font-size: 12px;
}
.box8 .xleft .box88 .cont .num span:nth-child(2){
	display: inline-block;
	width: 70px;
	text-align: center;
	border: 1px solid #FF1493;
	margin-left: 20px;
	background: url('任务所需小图/img/duigou.png')no-repeat;
	background-position: 57px 17px;
	cursor: pointer;
}
.box8 .xleft .box88 .cont .num span:nth-child(3){
	display: inline-block;
	width: 70px;
	text-align: center;
	margin-left: 20px;
	cursor: pointer;
}
.box8 .xleft .box88 .cont .numadd{
	height: 30px;
	width: 100%;
	line-height: 20px;
	margin: 20px 0px;
	position: relative;
	vertical-align: center;
}
.box8 .xleft .box88 .cont .numadd span{
	font-size: 12px;
	margin-right: 40px;
	line-height: 30px;
}
.box8 .xleft .box88 .cont .numadd .dc,.ic{
	border: 1px solid #ccc;
	display: inline-block;
	width: 30px;
	height: 100%;
	text-align: center;
	position: absolute;
	line-height: 30px;
}
.box8 .xleft .box88 .cont .numadd .dc{
	top: 0px;
	left: 78px;
}
.box8 .xleft .box88 .cont .numadd .ic{
	top: 0px;
	left: 162px;
}
.box8 .xleft .box88 .cont .numadd input{
	height: 30px;
	width: 50px;
	position: absolute;
	top: 0px;
	left: 110px;
	border: 1px solid #777;
	text-align: center;
	outline: 0;
}
.box8 .xleft .box88 .cont .numadd .data{
	position: absolute;
	display: inline-block;
	left: 200px;
}
.box8 .xleft .box88 .cont .xl{
	height: 47px;
	width: 100%;
	background: url('任务所需小图/img/oo_03.jpg')no-repeat;
}
.box8 .xleft .box88 .cont .xselect{
	margin-left: 80px;
	height: 30px;
	width: 200px;
	font-size: 12px;
	line-height: 30px;
}
.box8 .xleft .box88 .cont .xselect .sc{
	font-style: normal;
	color: #FF9900;
}
.box8 .xleft .box88 .cont .btn{
	margin-top: 20px;
	height: 40px;
	width: 100%;
}
.box8 .xleft .box88 .cont .btn .bt1,.bt2{
	width: 110px;
	height: 35px;
	float: left;
	margin-right: 20px;
	border-radius: 3px;
	border: none;
	cursor: pointer;
}
.box8 .xleft .box88 .cont .btn button:nth-child(1){
	background-color: #fff;
	color: #FF1493;
	border: solid 1px #FF1493;
}
.box8 .xleft .box88 .cont .btn button:nth-child(2){
	background-color: #FF0066;
	color: #fff;
}
.box8c{
	width: 100%;
	height: 200%;
	background-color: rgba(128, 128, 128, 0.5);
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 10;
	display: none;
}
.box8d{
	position: fixed;
	left: 50%;
	top: 50%;
	margin-top: -100px;
	margin-left: -150px;
	width: 300px;
	height: 150px;
	z-index: 20;
	background: #fff;
	text-align: center;
	padding: 10px 0px;
	display: none;
}
.box8d img{
	margin-top: 10px;
	width: 100%;
}
.box8d button{
	width: 35%;
	height: 40px;
	border-radius: 3px;
	border: 1px solid #FF0066;
	cursor: pointer;
}
.box8d button:nth-child(2){
	color: #FF0066;
	background-color: #fff;
}
.box8d button:nth-child(3){
	color: #fff;
	background-color: #FF0066;
}
.box8d span{
	display: inline-block;
	width: 15px;
	height: 15px;
	line-height: 15px;
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
}
.box9{
	width: 1180px;
	height: 100px;
	background: url('任务所需小图/img/a_07.jpg')no-repeat center;
	background-size: cover;
	margin: 0px auto;
	margin-bottom: 20px;
}
.box6{
	position: relative;
	width: 100%;
	height:325px;
	background-color:#eee;
	margin: 0px auto;
}	
.box61{
	position:relative;
	height:180px;
	left: 50%;
	width: auto;
	margin-left: -590px;
	padding-left: 110px;
}
.box62{
	cursor: pointer;
	position: absolute;
	width:150px;
	height:180px;
	background-size:150px 150px; 
	background:url('任务所需小图/img/loginB.jpg') no-repeat; 
	background-position:center -50px -20px;
}
.box63{
	position: relative;
	margin-left:150px;
	border-bottom: 1px solid #D3D3D3;
	width:870px;
	height:180px;
}
.content{
	left:40px;
	top:30px;
	position:absolute;
	width:700px;
	height:25px;
}
.content li{
	font-size:13px;
	cursor: pointer;
	float: left;
	margin-left:55px; 
}
.box64{
	left:95px;
	top:50px;
	position:absolute;
	width:80px;
	height:100px;
}
.box64 li{
	float: left;
	margin-top:5px;
	font-size:13px; 
}
.box64 li a{
	font-size:11px;
	color: 	#808080;
}
.box65{
	left:203px;
	top:50px;
	position:absolute;
	width:80px;
	height:100px;
}
.box65 li{
	float: left;
	margin-top:5px;
	font-size:13px; 
}
.box65 li a{
	font-size:11px;
	color: 	#808080;
}
.box66{
	left:310px;
	top:50px;
	position:absolute;
	width:80px;
	height:100px;
}
.box66 li{
	float: left;
	margin-top:5px;
	font-size:13px; 
}
.box66 li a{
	font-size:11px;
	color: 	#808080;
}
.box67{
	left:417px;
	top:50px;
	position:absolute;
	width:80px;
	height:100px;
}
.box67 li{
	float: left;
	margin-top:5px;
	font-size:13px; 
}
.box67 li a{
	font-size:11px;
	color: 	#808080;
}
.box68{
	left:518px;
	top:50px;
	position:absolute;
	width:80px;
	height:100px;
}
.box68 li{
	float: left;
	margin-top:5px;
	font-size:13px; 
}
.box68 li a{
	font-size:11px;
	color: 	#808080;
}
.box69{
	left:610px;
	top:50px;
	position:absolute;
	width:80px;
	height:100px;
}
.box69 li{
	float: left;
	margin-top:5px;
	font-size:13px; 
}
.box69 li a{
	font-size:11px;
	color:	#696969;
}
.box6a{
	cursor: pointer;
	position: absolute;
	left:928px;
	bottom:8px;
	width:150px;
	height:180px;
	background-size:150px 150px; 
	background:url('任务所需小图/img/erweima.jpg') no-repeat; 
	background-position:center 30px;
}
.rights{
	width:1180px;
	height:80px;
}
._d_{
	width: 1180px;
	margin: 0 auto;
	font-size: 14px;
}
.box6b{
	width:600px;
	height:15px;
	margin: auto;
	margin-top:10px;
}
.box6b li{
	margin-left:5px;
	float: left;
	font-size:11px; 
}
.box6d{
	margin-top:10px;
	height:15px;
	color: #A9A9A9;
	font-size:10px;
	text-align: center;
}
.box6e{
	width:970px;
	height:15px;
	color: #A9A9A9;
	font-size:10px;
	text-align:center;
	margin:auto;
}
.box6f{
	width:120px;
	height:15px;
	color: #A9A9A9;
	font-size:11px;
	margin:auto;
	text-align: center;
}
.box6g{
	width:auto;
	height:51px;
}
.box6h{
	margin:auto;
	width:790px;
	height:51px;
}
.box6h li{
	cursor: pointer;
	float: left;
	margin-left: 5px;
}
.box6i{
	width:49px;
	height:51px;
	background:url('任务所需小图/img/bo1.gif')no-repeat;
}
.box6j{
	width:113px;
	height:51px;
	background:url('任务所需小图/img/bo2.png')no-repeat;
	background-position:center 5px;
}
.box6k{
	width:97px;
	height:51px;
	background:url('任务所需小图/img/bo3.gif')no-repeat;
	background-position:center 5px;
}
.box6l{
	width:128px;
	height:51px;
	background:url('任务所需小图/img/bo4.png')no-repeat;
	background-position:center 2px;
}
.box6m{
	width:111px;
	height:51px;
	background:url('任务所需小图/img/bo5.png')no-repeat;
	background-position:center 5px;
}
.box6n{
	width:106px;
	height:51px;
	background:url('任务所需小图/img/bo6.png')no-repeat;
	background-position:center 5px;
}
.box6o{
	width:150px;
	height:51px;
	background:url('任务所需小图/img/bo7.png')no-repeat;
}